extend /_template/ja/_default
append variables
  //- 変更可能
  - var pageTitle= "about";
  - var pageDescription= 'About Page Description';
  - var pageKeywords= 'About Page Keyword1, About Page Keyword2';
  //- 任意
  - var pageOgpTitle= pageTitle;
  - var pageOgpImage= ja.site.ogpImage;
  - var pageOgpType= "article";

block content
  -var thisPageDir = 'question'
    
  -
    var rebakes = [
      {
      tasteName: 'FROZEN',
      tasteDetails: 'ひんやり、ほどける。',
      tasteHow: '冷蔵庫から出して1-2分待ちます。',
      tasteComments: 'まるでアイス。空気を多く含んだチーズムースは、口の中でなめらかにほどけていきます。サクサクのタルトとの食感の違いを楽しんで。'
      },
      {
      tasteName: 'REBAKE',
      tasteDetails: 'あつあつ、トロトロ。',
      tasteHow: 'a',
      tasteComments: '本物の焼きたてを再現。中央がふっくら盛り上がってきたら食べごろ。',
      tasteCommentsSmall: '温め終わった後3分ほどトースターに入れたままにすることで、ムースの中まで温まりやすくなります。'
      }
    ]
    var products = [
      {
        productName: 'カリッ、フワッとした食感のチーズタルト。',
        productImages: '/assets/img/namespace/products/plain_sizzle.jpg',
        productSolo: '/assets/img/namespace/products/cheese_solo.png',
        productDetails: 'サクッとした食感を出すために2度焼きしたタルト生地と、フワッとしたチーズムースのコントラストが楽しいチーズタルト。冷たいままで、トースターで温めて、さまざまな食べ方をお楽しみください。',
        productFeature_a: 'フワフワ食感のムース',
        productFeature_a_details: 'オリジナルブレンドのクリームチーズを使ったムースは、一口ほおばるとクリーミーな味わいと爽やかな酸味、ほのかな塩味が口いっぱいに広がります。',
        productFeature_b: '二度焼きのタルト生地',
        productFeature_b_details: 'オリジナルブレンドの小麦粉で作るタルト生地は、生地だけで1回、ムースを入れてもう1回焼き上げます。こだわりの2度焼きで仕上げたタルトは、密かなファンも多い隠れた主役。'
      },
      {
        productName: 'ふんわりとろけるチョコチーズタルト。',
        productImages: '/assets/img/namespace/products/choco_sizzle.jpg',
        productSolo: '/assets/img/namespace/products/choco_solo.png',
        productDetails: '京都のチョコレート専門店「Dari K」とのコラボレーションにより実現したチョコチーズタルト。フルーティなカカオの香りを活かした期間限定のチーズタルトです。',
        productFeature_a: '香り高いチョコレート',
        productFeature_a_details: 'インドネシアで育てられた、採れたてのカカオ豆を厳選して利用。1つ1つの工程を丁寧に作られたチョコレートは、他では味わえない本当のカカオの味を引き出します。',
        productFeature_b: '香り引き立つムース',
        productFeature_b_details: 'チョコのフルーティーさを活かしながらもチーズの風味は残したい。丁寧に混ぜ合わせたチーズムースとチョコレートは誰でも食べやすい絶妙なバランスに。'
      }
    ]

  main#app
    | {{ message }}
  
  append js
    script(src="https://unpkg.com/vue")
  script.
    var sample = new Vue({
      el: '#app',
      data: {
        message: 'Hello,Vue.js!'
      }
    })
  
